<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH News</title>
</head>

<body>
    <h1>DH News</h1>
    <h3>Postado em 21/07/2022</h3>
    <p>
        Lorem ipsum dolor sit amet <strong>consectetur</strong>, adipisicing elit. Sed placeat vero aliquam quidem ex!
        Recusandae veritatis animi temporibus velit, consequuntur at, eligendi mollitia laboriosam nihil eius tempora
        nisi reiciendis quae!
    </p>
    <img src="../public/img/destaque.webp" alt="Pessoas sentadas a mesa num saguão">
    <h2>Lorem ipsum, dolor sit amet</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, mollitia placeat eos aspernatur perferendis iure
        debitis illo ullam deleniti natus optio hic a quod dolores ipsum cum magni velit officiis!</p>

    <ol>
        <li>Texto 1....lala</li>
        <li>Texto 1....lala</li>
        <li>Texto 1....lala</li>
    </ol>

    <footer>
        <a href="https://www.facebook.com/" target="_blank">
            <img src="../public/img/facebook.svg" alt="Icone do facebook">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img src="../public/img/instagram.svg" alt="Icone do Instagram">
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
            <img src="../public/img/linkedin.svg" alt="Icone do linkedin">
        </a>
        <a href="https://www.youtube.com/" target="_blank">
            <img src="../public/img/youtube.svg" alt="Icone do youtube">
        </a>
    </footer>

</body>

</html>